body {
    background-color: grey;
}

.grid-box {
    display: grid;
}

.header {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    text-align: center;
    background-color: white;
    margin: 10px;
}

.nav {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    text-align: center;
    background-color: white;
    margin: 0px 10px 20px 10px;
}

.section {
    grid-column: 1 / 5;
    grid-row: 3 / 6;
    text-align: center;
    background-color: white;
    margin: 0px 10px 20px 10px;
}

.aside {
    grid-column: 5 / 7;
    grid-row: 3 / 6;
    text-align: center;
    background-color: white;
    margin: 0px 10px 20px 10px;
}

.article {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
    text-align: center;
    background-color: grey;
    padding: 10px;
    position: static;
    margin: 10px;
    
}

#articleh1 {
    color: white;
}

#text1 {
    background-color: white;
    margin: 0px 10px 5px 10px;
}

#text2 {
    background-color: white;
    margin: 0px 10px 10px 10px;
}

.footer {
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    text-align: center;
    background-color: white;
    margin: 5px;
}



